
*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
}
/* Common */
.main-content{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
    
}
/* Header */
.header.fixed{
    position: sticky;
    top:-28px;
    z-index: 1;
    background-color: orange;
}
.header .body{
    display: flex;
    align-items: center;
    padding: 36px 0px 8px;
    
}